<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kh.mapper.GameCartMapper">


    <!-- 프로시저 사용 찜 등록 -->
    <select id="saveGameLibrary" statementType="CALLABLE" resultType="GameLibraryVO">
        { CALL TOGGLE_GAME_LIBRARY(
        #{userName, mode=IN, jdbcType=VARCHAR},
        #{gameId, mode=IN, jdbcType=NUMERIC},
        #{title, mode=IN, jdbcType=VARCHAR},
        #{backgroundImage, mode=IN, jdbcType=VARCHAR},
        #{price, mode=IN, jdbcType=NUMERIC},
        #{released, mode=IN, jdbcType=VARCHAR},
        #{esrbRating, mode=IN, jdbcType=VARCHAR},
        #{result, mode=OUT, jdbcType=VARCHAR}
        ) }
    </select>

    <!-- 프로시저 사용 장바구니 등록 -->
    <select id="toggleGameCart" statementType="CALLABLE" resultType="GameCartVO">
        { CALL TOGGLE_GAME_CART(
        #{userName, mode=IN, jdbcType=VARCHAR},
        #{gameId, mode=IN, jdbcType=NUMERIC},
        #{title, mode=IN, jdbcType=VARCHAR},
        #{backgroundImage, mode=IN, jdbcType=VARCHAR},
        #{price, mode=IN, jdbcType=NUMERIC},
        #{salePrice, mode=IN, jdbcType=NUMERIC},
        #{released, mode=IN, jdbcType=VARCHAR},
        #{esrbRating, mode=IN, jdbcType=VARCHAR},
        #{result, mode=OUT, jdbcType=VARCHAR}
        ) }
    </select>

    <!-- 장바구니 목록만 조회 -->
    <select id="getCartByUser" parameterType="String" resultType="kr.co.kh.model.vo.GameCartVO">
        SELECT
        CART_ID AS cartId,
        USER_NAME AS userName,
        GAME_ID AS gameId,
        TITLE AS title,
        BACKGROUND_IMAGE AS backgroundImage,
        PRICE AS price,
        SALE_PRICE AS salePrice,
        RELEASED AS released,
        ESRB_RATING AS esrbRating,
        CREATED_AT AS createdAt,
        'CART' AS cartType
        FROM GAME_CART
        WHERE USER_NAME = #{userName}
        ORDER BY CREATED_AT DESC
    </select>

    <!-- 카트상태체크 -->
    <select id="checkCart" parameterType="GameCartVO" resultType="int">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END AS cnt
        FROM GAME_CART
        WHERE USER_NAME = #{userName} AND GAME_ID = #{gameId}
    </select>
    <!-- 라이브러리 내역 조회 -->
    <select id="getAllLibraryByUser" parameterType="string" resultType="GameLibraryVO">
        SELECT TITLE, CREATED_AT, BACKGROUND_IMAGE
        FROM GAME_LIBRARY
        WHERE USER_NAME = #{userName}
    </select>
</mapper>