<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kh.mapper.GameLikeMapper">

    <!-- 프로시저 사용 찜 등록 -->
    <select id="toggleGameLike" statementType="CALLABLE" resultType="GameLikeVO">
        { CALL TOGGLE_GAME_LIKE(
        #{userName, mode=IN, jdbcType=VARCHAR},
        #{gameId, mode=IN, jdbcType=NUMERIC},
        #{title, mode=IN, jdbcType=VARCHAR},
        #{backgroundImage, mode=IN, jdbcType=VARCHAR},
        #{price, mode=IN, jdbcType=NUMERIC},
        #{salePrice, mode=IN, jdbcType=NUMERIC},
        #{released, mode=IN, jdbcType=VARCHAR},
        #{esrbRating, mode=IN, jdbcType=VARCHAR},
        #{result, mode=OUT, jdbcType=VARCHAR}
        ) }
    </select>

    <!-- 게임 좋아요 눌렀을때 데이터가 있으면 색상변경기능 -->
    <select id="checkLike" parameterType="GameLikeVO" resultType="int">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END AS cnt
        FROM GAME_LIKE
        WHERE USER_NAME = #{userName} AND GAME_ID = #{gameId}
    </select>

    <!-- ✅ 찜(WISH) 목록만 조회 -->
    <select id="getWishlistByUser" parameterType="String" resultType="kr.co.kh.model.vo.GameLikeVO">
        SELECT
        LIKE_ID AS likeId,
        USER_NAME AS userName,
        GAME_ID AS gameId,
        TITLE AS title,
        BACKGROUND_IMAGE AS backgroundImage,
        PRICE AS price,
        SALE_PRICE AS salePrice,
        RELEASED AS released,
        ESRB_RATING AS esrbRating,
        'LIKE' AS cartType,
        NULL AS result,
        CREATED_AT AS createdAt
        FROM GAME_LIKE
        WHERE USER_NAME = #{userName}
        ORDER BY CREATED_AT DESC
    </select>

</mapper>