<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kh.mapper.GameDiscountMapper">

    <!-- 게임 할인율별로 리스트 가져오기 (20개씩 페이징), 공동구매인원 조회 -->
    <select id="getDiscountGame" parameterType="map" resultType="GameDiscountVO">
        SELECT
        A.DISCOUNT_ID,
        A.USER_NAME,
        A.GAME_ID,
        A.TITLE,
        A.BACKGROUND_IMAGE,
        A.PRICE,
        A.SALE_PRICE,
        ROUND((1 - (A.SALE_PRICE / A.PRICE)) * 100, 2) AS DISCOUNT_PERCENT,
        A.RELEASED,
        A.ESRB_RATING,
        A.CREATED_AT,
        '' AS RESULT,
        (B.APPLICANTS - B.CURRENT_APPLICANTS) AS COUNT_APPLICANTS,
        B.IS_ACTIVE,
        -- 공동구매 신청자 목록 (콤마로 연결)
        (
        SELECT LISTAGG(USER_NAME, ',') WITHIN GROUP (ORDER BY CREATED_AT)
        FROM GAME_GROUP_APPLICANT
        WHERE GAME_ID = A.GAME_ID
        ) AS APPLICANT_LIST
        FROM
        GAME_DISCOUNT A
        JOIN
        GAME_GROUP_PURCHASE B ON A.GAME_ID = B.GAME_ID
        WHERE
        A.PRICE > 0 AND A.SALE_PRICE IS NOT NULL
        ORDER BY
        A.TITLE
        OFFSET #{offset} ROWS
        FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="checkDiscount" parameterType="GameDiscountVO" resultType="int">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END AS cnt
        FROM GAME_DISCOUNT
        WHERE GAME_ID = #{gameId}
    </select>

    <!-- 프로시저 사용 할인가 등록 -->
    <select id="toggleDiscount" statementType="CALLABLE" resultType="GameDiscountVO">
        { CALL TOGGLE_GAME_DISCOUNT(
        #{userName, mode=IN, jdbcType=VARCHAR},
        #{gameId, mode=IN, jdbcType=NUMERIC},
        #{title, mode=IN, jdbcType=VARCHAR},
        #{backgroundImage, mode=IN, jdbcType=VARCHAR},
        #{price, mode=IN, jdbcType=NUMERIC},
        #{salePrice, mode=IN, jdbcType=NUMERIC},
        #{released, mode=IN, jdbcType=VARCHAR},
        #{esrbRating, mode=IN, jdbcType=VARCHAR},
        #{result, mode=OUT, jdbcType=VARCHAR}
        ) }
    </select>

    <!-- 프로시저 사용 공동구매 예약 버튼동작 -->
    <select id="groupReservation" statementType="CALLABLE" parameterType="GameGroupVO">
        { CALL TOGGLE_GROUP_PURCHASE(
        #{userName, mode=IN, jdbcType=VARCHAR},
        #{gameId, mode=IN, jdbcType=NUMERIC},
        #{result, mode=OUT, jdbcType=VARCHAR}
        ) }
    </select>
</mapper>