<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kh.mapper.GameMemberMapper">

    <!-- 장바구니 중복확인 -->
    <select id="countGameCart" resultType="int">
        SELECT COUNT(*)
        FROM GAMECART
        WHERE USER_NAME = #{userName}
        AND GAME_ID = #{gameId}
    </select>

    <!-- 장바구니 저장 -->
    <insert id="cartSave" parameterType="GameCartVO" useGeneratedKeys="true" keyProperty="cartId" keyColumn="CART_ID">
        INSERT INTO GAMECART (USER_NAME, GAME_ID, GAME_TITLE, BACKGROUND_IMAGE, PRICE, SALE_PRICE)
        VALUES (
        #{userName}
        , #{gameId}
        , #{title}
        , #{backgroundImage}
        , #{price}
        , #{salePrice}
        )
    </insert>

    <!-- 장바구니 삭제 -->
    <delete id="cartDelete" parameterType="GameCartVO">
        DELETE FROM GAMECART
        WHERE USER_NAME = #{userName}
        AND GAME_ID = #{gameId}
    </delete>

    <!-- 리뷰 중복확인 -->
    <select id="countReview" resultType="int">
        SELECT COUNT(*)
        FROM REVIEW
        WHERE USER_NAME = #{userName}
        AND GAME_ID = #{gameId}
    </select>

    <!-- 리뷰 저장 -->
    <insert id="reviewSave" parameterType="GameReviewVO" useGeneratedKeys="true" keyProperty="reviewId" keyColumn="REVIEW_ID">
        INSERT INTO REVIEW (USER_NAME, GAME_ID, RATING, CONTENT)
        VALUES (
        #{userName}
        , #{gameId}
        , #{rating}
        , #{content}
        )
    </insert>

    <!-- 리뷰 수정 -->
    <update id="reviewUpdate" parameterType="GameReviewVO">
        UPDATE REVIEW
        SET RATING = #{rating},
        CONTENT = #{content},
        UPDATED_AT = CURRENT_TIMESTAMP
        WHERE USER_NAME = #{userName}
        AND GAME_ID = #{gameId}
    </update>

    <!-- 게임ID로 리뷰조회 -->
    <select id="reviewListByGameId" parameterType="Long" resultType="GameReviewVO">
        SELECT * FROM REVIEW
        WHERE game_id = #{gameId}
        ORDER BY created_at DESC
    </select>

    <!-- 찜 중복확인 -->
    <select id="countLike" parameterType="GameLikeVO" resultType="int">
        SELECT COUNT(*)
        FROM GAME_LIKE
        WHERE USER_NAME = #{userName} AND GAME_ID = #{gameId}
    </select>

    <!-- 찜 저장 -->
    <insert id="likeSave" parameterType="GameLikeVO" useGeneratedKeys="true" keyProperty="likeId" keyColumn="LIKE_ID">
        INSERT INTO GAME_LIKE (USER_NAME, GAME_ID, GAME_TITLE, BACKGROUND_IMAGE, PRICE, SALE_PRICE)
        VALUES (
        #{userName}
        , #{gameId}
        , #{title}
        , #{backgroundImage}
        , #{price}
        , #{salePrice}
        )
    </insert>

    <!-- 찜 삭제 -->
    <delete id="likeDelete" parameterType="GameCartVO">
        DELETE FROM GAME_LIKE
        WHERE USER_NAME = #{userName}
        AND GAME_ID = #{gameId}
    </delete>

</mapper>