<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kh.mapper.UserAuthorityMapper">

    <insert id="save" parameterType="UserAuthorityVO">
        INSERT INTO USER_AUTHORITY (USER_ID, ROLE_ID)
        VALUES (#{userId}, #{roleId})
    </insert>

    <select id="findId" parameterType="MemberVO" resultType="MemberVO">
        SELECT USERNAME, NAME, EMAIL FROM USERS
        WHERE EMAIL = #{email} AND NAME = #{name} AND IS_ACTIVE = 1

    </select>

    <select id="existUser" parameterType="MemberVO" resultType="MemberVO">
        SELECT USERNAME, EMAIL, NAME FROM USERS
        WHERE USERNAME = #{username} AND EMAIL = #{email} AND IS_ACTIVE = 1
    </select>

    <update id="changePw" parameterType="MemberVO">
        UPDATE USERS
        SET PASSWORD = #{password}
        WHERE USERNAME = #{username} AND EMAIL = #{email}
    </update>



</mapper>