<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kh.mapper.WalletLogMapper">

    <!-- 로그 INSERT -->
    <insert id="insertWalletLog" parameterType="GameWalletLogVO">
        <selectKey keyProperty="logId" resultType="long" order="BEFORE">
            SELECT SEQ_GAME_WALLET_LOG.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO GAME_WALLET_LOG (
        LOG_ID,
        LOG_TYPE,
        AMOUNT,
        USER_NAME,
        USER_ID,
        CREATED_AT
        ) VALUES (
        #{logId},
        #{logType},
        #{amount},
        #{userName},
        #{userId},
        SYSDATE
        )
    </insert>
    <!-- 마이프로필 아아디고유번호로 지갑 로그 내역 -->
    <select  id="selectLogsByUserId" parameterType="Long" resultType="GameWalletLogVO">
        SELECT LOG_ID, USER_ID, USER_NAME, AMOUNT, CREATED_AT, CASE LOG_TYPE WHEN 0 THEN '충전' ELSE '사용' END AS logText FROM GAME_WALLET_LOG
        WHERE USER_ID = #{userId}
        ORDER BY CREATED_AT DESC
    </select>

</mapper>
