<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kh.mapper.WalletMapper">

    <select id="findMemberEmailById" parameterType="Long" resultType="MemberVO" >
        SELECT USER_ID AS memberId, EMAIL, USERNAME
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

    <!--1 ) userId 로 지갑조회 -->
    <select id="selectWalletByUserId" parameterType="Long" resultType="GameWalletVO">
        SELECT WALLET_ID, USER_ID, USER_NAME, BALANCE, CREATED_AT, UPDATED_AT
        FROM GAME_WALLET
        WHERE USER_ID = #{userId}
    </select>

    <update id="updateBalance" parameterType="GameWalletVO">
        UPDATE GAME_WALLET
        SET BALANCE = #{balance}, UPDATED_AT = SYSDATE
        WHERE WALLET_ID = #{walletId}
    </update>


    <select id="toggleGameWallet" statementType="CALLABLE" parameterType="map">
        { CALL TOGGLE_GAME_WALLET(
        #{userId, mode=IN, jdbcType=NUMERIC},
        #{userName, mode=IN, jdbcType=VARCHAR},
        #{balance, mode=IN, jdbcType=NUMERIC},
        #{logType, mode=IN, jdbcType=NUMERIC},
        #{result, mode=OUT, jdbcType=VARCHAR}
        ) }
    </select>


</mapper>
